.vscode/settings.json
laba2/a.out
laba2/set.txt
laba2/task2.out
laba1/array.txt
laba1/doubly_list.txt
laba1/hash_table.txt
laba1/linked_list.txt
laba1/queue.txt
laba1/stack.txt
laba1/tree.txt
practice1/a.out
practice1/command.txt
.vscode/c_cpp_properties.json
practice1/.vscode/settings.json
practice1/.vscode/launch.json
practice1/.vscode/c_cpp_properties.json
.vscode/launch.json
laba4/.vscode/settings.json
laba4/.vscode/c_cpp_properties.json
laba4/.vscode/launch.json
laba4/task2.out
laba4/task1/mutex+.out
laba4/task1/semaphoreSlim.out
laba4/task1/barrier.out
laba4/task1/spinLock.out
laba4/task1/spinWait.out
