laba2/subordinates.hpp.gch
laba2/hash_table.hpp.gch
.vscode/settings.json
laba2/a.out
laba2/expression.hpp.gch
laba2/set.hpp.gch
laba2/set.txt
laba2/task2.out
laba1/array.txt
laba1/doubly_list.txt
laba1/hash_function.hpp:Zone.Identifier:Zone.Identifier
laba1/hash_node.hpp:Zone.Identifier:Zone.Identifier
laba1/hash_table.txt
laba1/linked_list.txt
laba1/queue.txt
laba1/stack.txt
laba1/tree.txt
practice1/schema.json:Zone.Identifier
practice1/json.hpp:Zone.Identifier
practice1/all_structures.hpp.gch
practice1/create_files.hpp.gch
practice1/HashTable.hpp.gch
practice1/a.out
practice1/command.txt
practice1/.vscode/c_cpp_properties.json
practice1/.vscode/launch.json
practice1/.vscode/settings.json
practice1/build/Debug/commands.o
practice1/build/Debug/linked_list.o
practice1/build/Debug/main.o
practice1/build/Debug/outDebug
practice1/build/Debug/SQL_query.o
practice1/build/Debug/unlinked_list.o
